# This is a legacy approach to the gitconfig management.
# Newer approach uses includeIf in the global gitconfig (~/.gitconfig)

[user]
	name = <First Last>
	email = <email>
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[includeIf "gitdir:~/src/github.com/<a-certain-org>/"]
        path = ~/src/github.com/<ancestor>/.<git-config-to-use-for-this-org>
