#!/usr/bin/env bash

# symlinked in mac.sh
# [[ ! -d ~/.vim ]] && ln -fs ${HERE}/../.envrc/ ~/.envrc

#####################
# AWS Configuration #
#####################

# Have aws-vault use the login keychain for better timeout behavior
export AWS_VAULT_KEYCHAIN_NAME=login

# Make Chamber read ~/.aws/config
export AWS_SDK_LOAD_CONFIG=1

# Make Chamber use the default AWS KMS key
export CHAMBER_KMS_KEY_ALIAS='alias/aws/ssm'

# Make Chamber use path based keys ('/' instead of '.')
export CHAMBER_USE_PATHS=1
